<app-header-component></app-header-component>
<section id="landing-page">
    <div class="landing-container">
        <div class="notify-me-text-container">
            <div class="text-notify-me">
                <p class="text-notify-me-header">Need a voice for your ART?</p>
                <p class="text-notify-me-message">coming soon...</p>
            </div>
            <div class="notify-me-button-container">
                <p class="notify-me-button-pretext">I am an art enthusiast.</p>
                <button class="notify-me-button" (click)="notifyMe();">Notify me</button>
            </div>
        </div>
        <div class="character-vincent-container">
            <!-- <img src="assets/images/Character_Des_Vincent_ 1.png" /> -->
        </div>
    </div>
</section>
<section id="about-us">
    <div class="about-us-container">
        <p class="header-text">
            Who are we?
        </p>
        <p class="description-text">
            We are a team of art enthusiasts on a mission to create a platform where we connect budding artists and plan to host exhibitions for unknown artists (vincents😀)
        </p>
        <div class="teams-artwork">
            <img src="assets/images/Untitled_Artwork 1.png" height="158" width="130" alt="UX1" />
            <img src="assets/images/Untitled_Artwork(2) 1.png" height="136" width="143" alt="UX2" />
            <img src="assets/images/Untitled_Artwork(1) 1.png" height="158" width="175" alt="DEV1" />
        </div>
    </div>
</section>
<app-footer-component></app-footer-component>

<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="Great seems like you are an art enthusiast!!" (nzOnOk)="handleOk()">
    <app-enquiry-form *nzModalContent [isVisible] = "isVisible">
      
    </app-enquiry-form>
  </nz-modal> -->

  <app-enquiry-form [isVisible] = "isVisible" (handleCancel)="handleCancel($event)" (handleOk)="handleOk($event)">
      
  </app-enquiry-form>
