<section id="footer">
    <div class="footer-container">
        <div class="logo-container">
            <img src="assets/images/Logo final_footer.png" alt="vinscape.in" />
            <p class="logo-subtext">Vinscape.in.Pvt.Ltd. All rights reserved</p>
        </div>
        <div class="social-media-container">
            <p class="social-media-subtext">Follow us on</p>
            <div class="social-media-links">
                <img src="assets/images/instagram_logo.png" />
            <img src="assets/images/facebook_logo.png" />
            <img src="assets/images/linkedin_logo.png" />
            </div>
        </div>
    </div>
    <div class="footer-cc">
        <p class="footer-cc-text">
            2023 vinscape.in · Company details
        </p>
        <p class="footer-cc-language"><img src="assets/images/language_black_24dp.png" /> <span> English (IN) </span></p>
    </div>
</section>