.header-container {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px;
    min-width: 766px;
    box-sizing: border-box;
    // box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}

.logo-container > img {
    height: 48px;
    width: 160px;
}

.nav-links-container {
    margin-left: auto;
    a {
        display: block;
        width: 120px;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        font-family: 'Poppins';
        color: #353935;
        font-weight: 600;
    }

}